<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee
                        https://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID"
         version="4.0.1">
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.andersen.config.CORSFilter</filter-class>
    </filter>

<!--    <filter-mapping>-->
<!--        <filter-name>CorsFilter</filter-name>-->
<!--        <url-pattern>http://localhost:3000</url-pattern>-->
<!--    </filter-mapping>-->
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>http://34.118.36.24:3000</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.andersen.config.TelegramStarter</listener-class>
    </listener>
    <listener>
        <listener-class>com.andersen.scheduler.JobsListener</listener-class>
    </listener>

</web-app>